.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  display: none; }

.App-header {
  background-color: #009688;
  height: 150px;
  padding: 20px;
  color: white;
  display: none; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.states-group {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  height: 100vh; }
  .states-group .state-container {
    flex: 1;
    border-left: 1px solid #009688; }
    .states-group .state-container:first {
      border-left: none; }
    .states-group .state-container header {
      background: #009688;
      padding: 1em .5em 1em .5em; }
      .states-group .state-container header .ui.label {
        margin-top: .3em;
        margin-bottom: .3em; }
      .states-group .state-container header h1 {
        font-size: large;
        color: white;
        text-transform: uppercase; }
    .states-group .state-container--list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .states-group .state-container--list .ui.card {
        margin: .3em; }
        .states-group .state-container--list .ui.card .header {
          font-size: 1em; }
    .states-group .state-container.resizable {
      position: relative; }
    .states-group .state-container .resizer {
      width: 10px;
      height: 10px;
      background: blue;
      position: absolute;
      right: 0;
      bottom: 0;
      cursor: se-resize; }
  .states-group .entity.bug {
    border-left: 3px solid #F44336; }
  .states-group .entity.userstory {
    border-left: 3px solid #03A9F4; }

.entitiy-details {
  padding-top: 1em;
  padding-bottom: 1em; }
  .entitiy-details header {
    position: relative; }
    .entitiy-details header h1 {
      font-size: large; }
      .entitiy-details header h1 .id,
      .entitiy-details header h1 .title {
        color: #009688;
        font-weight: bold; }
      .entitiy-details header h1 .id {
        margin-left: 1em; }
    .entitiy-details header .share-popup {
      position: absolute;
      right: 0;
      top: 0; }

.tablayout .tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .tablayout .tabs .tab {
    padding: .4em; }
    .tablayout .tabs .tab.selected {
      color: #00796B;
      font-weight: bold;
      background-color: #EEEEEE;
      border-radius: 5px; }

.tablayout .contents {
  margin-top: .8em; }
  .tablayout .contents .tab-description {
    position: relative; }
    .tablayout .contents .tab-description textarea {
      margin-top: 40px;
      line-height: 1.5em;
      width: 100%;
      max-width: 100%;
      min-height: 300px;
      border-radius: 4px;
      padding: 1em; }
      .tablayout .contents .tab-description textarea[disabled] {
        background-color: transparent;
        border: none; }
    .tablayout .contents .tab-description button {
      position: absolute;
      right: 0;
      color: white; }
      .tablayout .contents .tab-description button.edit {
        background-color: green; }
      .tablayout .contents .tab-description button.save {
        background-color: red; }
