.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  display: none; }

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  display: none; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.states-group {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  height: 100vh; }
  .states-group .state-container {
    flex: 1; }
    .states-group .state-container header {
      background: #E0E0E0; }
      .states-group .state-container header h1 {
        padding: 1em;
        text-align: center; }
    .states-group .state-container--list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; }
      .states-group .state-container--list .ui.card {
        margin: .3em; }
        .states-group .state-container--list .ui.card .header {
          font-size: 1em; }
  .states-group .entity.bug {
    border-left: 3px solid #F44336; }
  .states-group .entity.userstory {
    border-left: 3px solid #03A9F4; }
