$control-height: 40px;
$primary-color: #009688;
$primary-color-dark: #00796B;

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  display: none; // to remove
}

.App-header {
  background-color: $primary-color;
  height: 150px;
  padding: 20px;
  color: white;
  display: none; // to remove
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.states-group {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  height: 100vh;
  
  .state-container {
    flex: 1;
    border-left: 1px solid $primary-color;

    &:first {
      border-left: none;
    }
  
    header {
      background: $primary-color;
      padding: 1em .5em 1em .5em;
      
      .ui.label {
        margin-top: .3em;
        margin-bottom: .3em;
      }     
      
      h1 {
        font-size: large;
        color: white;
        text-transform: uppercase;
      }
    }

    &--list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .ui.card {
        margin: .3em;
        
        .header {
          font-size: 1em;
        }
      }
    }
  }

  
  .entity {
    
    &.bug {
      border-left: 3px solid #F44336;
    }
    &.userstory {
      border-left: 3px solid #03A9F4;
    }
  }
}
